header {
    background-color: orangered;
}
.book-overview {
    background-color: #f2f4f5;
    padding-bottom: 80px;
}
.check-out {
    background-image: linear-gradient(rgba(232, 37, 6, 0.8),rgba(245, 38, 5, 0.76)), url(pic/bg.jpg);
    padding-bottom: 80px;
}
.pricing-plan {
    background-color: #f2f4f5;
    padding-bottom: 80px;
}
.carousel-item {
    height: 40rem;
    background-image: linear-gradient(rgba(4, 4, 4, 0.73),rgba(37, 37, 37, 0.88)), url(pic/bg.jpg);
}
.img {
    width: 10%;
    height: 50%;
    border-radius: 50%;
}